{% extends 'dummy.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}


{% block body_block %}

    <center>
       <h1>Login Form</h1>
       <form method="POST">
        {% csrf_token %}

        <label for="un">UserName</label>
        <input type="text" name="un" id="un"><br><br>

        <label for="pw">Password</label>
        <input type="password" name="pw" id="pw"><br><br>

        <input type="submit" value="Login">
       </form>

       <a href="{% url 'forgot_password' %}" class="btn btn-success">forgot_password</a>
    </center>

{% endblock %}